<h1>
 <%= @list.name %>
</h1>

<ul>
  <% @posts.each do |posts| %>
  <li>
    <strong>id:</strong>
    <%= posts.id_twitter %>
    <br>
    <strong>user:</strong>
    <%= posts.usuario %>
    <br>
    <strong>text:</strong>
    <%= posts.content %>
    <br>
    <span class="timestamp">
    Publicado <%= time_ago_in_words(posts.created_at) %> atrás.
  </span>
  </li>
  <% end %>
</ul>
